{% extends "parent.html" %}

{% block title %}
Create a new Channel
{% endblock %}


{% block body %}
<link rel="stylesheet" type="text/css" href="static/css/newv.css">

<div class="img-fluid">
<br><br><br>

<center>
	<h2><b>Create your channel</b></h2>
	<table cellpadding="5" align="center">
		<form action="createchannel" method="POST">
 			{% csrf_token %}
			<tr><td></td></tr>
        	<tr><td></td></tr>
    		<tr><td><b>Channel Name:</b></td><td>{{form.channel_name|linebreaks}}</td></tr>
    		<tr><td><br><button type="submit" class="btn btn-primary">Create Channel!</button></td></tr>
		</form>
	</table>
<br><br><br>
</div>
</center>
</div>
        
{% endblock %}